**/*.tdy
modified
**/*.bak
**/*.tmp
autotools/*
*.tar.gz
bedrock-shell*.roc
**/bedrock.log
autom4te.cache/*
*~
**/*.*#
\#*\#
**/Makefile
**/Makefile.in
config.log
configure
aclocal.m4
config.status
bedrock.spec
src/main/perl/lib/**/*.pm
src/main/perl/bin/*.pl
src/main/perl/cgi-bin/*.cgi
src/main/perl/cgi-bin/*.cgi.1
src/main/bash/bin/*.sh
src/main/resources/bedrock-perl5-inc-begin-block.snippet
**/*.1bedrock
**/*.log
src/main/bedrock/config/*.pl
src/main/bedrock/config/*.xml
src/main/bedrock/config/*.conf22
src/main/bedrock/config/*.conf24
src/main/bedrock/config/bedrock-rest-framework.conf
docker/Dockerfile
docker/*.conf
docker/*.xml
docker/*.yml
docker/docker-image
docker/volume
wip/*
cpan/extra-files
cpan/provides
cpan/resources
cpan/exclude_files
**/*.trs
src/main/perl/bedrock-test
src/main/perl/test-list
src/main/perl/foo.txt
docker/bedrock-al2023
docker/bedrock-debian
docker/bedrock-test
docker/bedrock-fedora
src/main/perl/lib/prove.sh
parking-lot/*
cpan/Bedrock*
