autotools/*
*.tar.gz
bedrock-shell*.roc
**/bedrock.log
autom4te.cache/*
*~
\#*\#
**/Makefile
**Makefile.in
config.log
configure
aclocal.m4
config.status
bedrock.spec
src/main/perl/lib/**/*.pm
src/main/perl/bin/*.pl
src/main/perl/cgi-bin/*.cgi
src/main/perl/cgi-bin/*.cgi.1
**/*.1bedrock
**/*.log
src/main/bedrock/config/*.pl
src/main/bedrock/config/*.xml
src/main/bedrock/config/*.conf22
src/main/bedrock/config/*.conf24
src/main/bedrock/config/bedrock-rest-framework.conf
docker/*.conf
docker/*.xml
docker/docker-image
src/main/resources/bedrock-perl5-inc-begin-block.snippet
