body { 
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 10pt;
}

h1 { 
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 16pt;
  color: purple;
}

h2 { 
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 14pt;
  color: purple;
}

h3 { 
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 12pt;
  color: black;
}

strong { 
  color: purple;
}

em { 
  color: green;
  font-weight: 800;
}

samp, code {
  color: brown;
  font-family: courier, monospace;
}

pre {
  color: brown;
  font-family: courier, monospace;
}
