body { 
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 12pt;
}

h1 { 
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 16pt;
  color: purple;
}

h2 { 
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 14pt;
  color: purple;
}

table, td, th {
  border: 1px solid;
}

td, th {
  padding: 10px;
  border-color: #000000;
}

th {
  background-color: #000000;
  color: #ffffff;
}

a:link {
 text-decoration: none;
 color: purple;
}

a:visited {
 text-decoration: none;
 color: purple;
}

a:hover {
 color: green;
 font-weight: 800;
}

a:hover h1 {
 color: green;
}

li {
 margin: 0px;
 padding: 5px;
}

li > p {
 padding: 0px;
 margin: 2px;
}

li p {
 margin-bottom: 10px;
}

table {
  border-collapse: collapse;
}

h3 { 
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 12pt;
  color: black;
}

i {
 color: purple;
 font-weight: 600;
 font-family: helvetica;
}

strong { 
  color: purple;
}

em { 
  color: green;
  font-weight: 800;
}

samp, code, textarea {
  color: #333333;
  font-weight: 600;
  font-family: courier, monospace;
}

blockquote {
  font-style: italic;
  color: #695BF7; 
  font-weight: 800;
  background-color: #f9fdcf;
  display: inline-block;
  padding: 10px;
  margin-top: 5px;
  padding-top: 0px;
  padding-bottom: 0px;
  border: 1px dashed;
  border-radius: 7px;
}

pre {
  display: inline-block;

  max-width: 100%;     /* prevent overflow */
  min-width: auto;     /* allow it to shrink */
  width: auto;         /* no full width stretch */

  margin: 10px 5px 5px 15px;
  padding: 13px 7px;

  color: #555;
  font-weight: 600;
  font-family: courier, monospace;
  background-color: #f0f0f0;

  border: 1px solid #999;
  border-radius: 7px;

  white-space: pre-wrap;
  word-break: break-word;
}


.error {
  color: red;
  font-family: fixed;
  font-weight: 800;
}

.code {
  font-family: courier, monospace;
  color: brown;
  font-weight: 600;
}

.codeframe {
  color: black;
  font-weight: 800;
  background: #eeeeee;
  overflow: scroll;
  font-style: fixed;
  font-size: 11px;
  padding: 5px;
  margin: 5px 5px 5px 0px;
}

#index li {
  margin: 0px;
  padding: 2px;
}

pre.bedrock-hash-value {
  padding: 3px 5px 3px 5px;
  background: antiquewhite;
}

.bedrock-hash td, .bedrock-hash th {
  padding: 0px;
}

.bedrock-hash th {
  background: white;
}

.bedrock-head table,
.bedrock-head tr,
.bedrock-head th,
.bedrock-head td {
    border: none;
    border-collapse: collapse;
}

.bedrock-docs,
.bedrock-docs table,
.bedrock-docs tr,
.bedrock-docs th,
.bedrock-docs td {
    border: none;
    border-collapse: collapse;
}

.bedrock-index li {
  margin: 0px;
  padding: 2px;
}

.bedrock-config {
 color: black;
 background: #dddddd;
 margin-top: 0;
}

.bedrock-config-var {
 color: green;
 font-weight: 600;
}
