.copy-icon {
    position: absolute;
    top: 8px;
    right: 8px;
    cursor: pointer;
}

.collapse-section-icon {
  margin-left: 0.5em;
  font-size: 0.9em;
  color: #555;
  cursor: pointer;
}

.copy-message {
  position: absolute;
  top: 40px;      /* Adjust if needed */
  right: 6px;
  font-size: 0.85em;
  color: green;
  background: #f4fff4;
  border: 1px solid #ccc;
  padding: 3px 6px;
  border-radius: 3px;
  display: none;
  white-space: nowrap;
  box-shadow: 0 0 3px rgba(0,0,0,0.1);
}

ul.checkmark {
  list-style: none;
  padding-left: 1.2em; /* Indent aligns checkmarks with text */
}

ul.checkmark li::before {
  content: "settings";  /* Material icon name */
  font-family: 'Material Symbols Outlined';
  font-weight: normal;
  font-style: normal;
  font-size: 1em;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  direction: ltr;

  color: #666; /* optional gear color */
  width: 1em;
  margin-left: -1.2em;
  padding-right: .3em;
}

.collapsable {
  margin-left: 2em;
}

ul.checkmark-old li::before {
  content: "\2713";  /* Unicode ✓ */
  color: green;
  display: inline-block;
  width: 1em;
  margin-left: -1.2em; /* Pull checkmark into margin space */
  font-size: 1em;
}

h1 {
  background-color: #f0f0f0;
  border-radius: 6px;
  padding: 0.1em .3em;
  margin: .1em 0;
  font-weight: bold;
  text-align: left;
  display: inline-block;
  border: 1px solid #ccc;
  font-size: 18pt;
}

.about {
    font-size: 80%;
    font-style: italic;
    color: #555555;
}

h2 {
    cursor: pointer;
    color: purple;
    margin: 5px 15px;
    font-size: 14pt;
}

h2:hover {
    color: green;
}

body {
    font-family: arial;
}

pre {
    background: #eeeeee;
    border-style: solid;
    border-width: 1px 3px 3px 1px;
    border-color: #cccccc;
    margin: 0;
    padding: 10px 50px 10px 10px;
    display: inline-block;
    white-space: pre;
    border-radius: 8px;
    
}

#repo-index {
    display: none;
}

.pre-wrapper {
    display: inline-block;
    position: relative;
}

<style>
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}
</style>
