
.container {
  margin-left: 0!important;
  margin-right: 0!important;
}

.side-menu-item {
  display: none;
}

#register-container {
    display: none;
}

#login-container a {
    text-decoration: none;
}

#register-container a {
    text-decoration: none;
}

#login-container a:visited {
    color: black;
}

#register-container a:hover {
    font-weight: bolder;
}

#tags-container {
    overflow: scroll;
}

#register-container a:visited {
    color: black;
}

#login-container a:hover {
    font-weight: bolder;
}
#bedrock-error {
    display: none;
}

#login-container {
    display: none;
}

#session-container {
    display: none;
}

#plugins-container {
    display: none;
}

li.ul-link-item:hover {
    cursor: pointer;
    font-weight: bolder;
    color: purple;
}

.pod-link:hover {
    cursor: pointer;
    font-weight: bolder;
    color: purple;
}

.pod-link {
  color: green;
}

.bedrock-pod h1 { 
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 16pt;
  color: purple;
}

.bedrock-pod h2 { 
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 14pt;
  color: purple;
}

.bedrock-pod table, td, th {
  border: 1px solid;
}

.bedrock-pod td, th {
  padding: 10px;
  border-color: #000000;
}

.bedrock-pod th {
  background-color: #000000;
  color: #ffffff;
}

.bedrock-pod a:link {
 text-decoration: none;
 color: purple;
}

.bedrock-pod a:visited {
 text-decoration: none;
 color: green;
}

.bedrock-pod a:hover {
 color: blue;
 font-weight: 800;
}

.bedrock-pod a:hover h1 {
 color: blue;
}

.bedrock-pod li {
 margin: 0px;
 padding: 5px;
}

.bedrock-pod li>p {
 padding: 0px;
 margin: 2px;
}


.bedrock-pod table {
  border-collapse: collapse;
}

.bedrock-pod h3 { 
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 12pt;
  color: black;
}

.bedrock-pod i {
 color: purple;
 font-weight: 600;
 font-family: helvetica;
}

.bedrock-pod strong { 
  color: purple;
}

.bedrock-pod em { 
  color: green;
  font-weight: 800;
}

.bedrock-pod samp, code, textarea {
  color: #333333;
  font-weight: 600;
  font-family: courier, monospace;
}

.bedrock-pod blockquote {
  font-style: italic;
  color: #695BF7; 
  font-weight: 800;
  background-color: #f9fdcf;
  display: inline-block;
  padding: 10px;
  margin-top: 5px;
  padding-top: 0px;
  padding-bottom: 0px;
  border: 1px dashed;
  border-radius: 7px;
}

.bedrock-pod pre {
  margin: 5px;
  margin-top: 10px;
  margin-left: 15px;
  padding: 7px;
  padding-top: 13px;
  padding-bottom: 13px;
  display: inline-block;
  color: #555555;
  font-weight: 600;
  border: 1px solid;
  border-radius: 7px;
  background-color: #f0f0f0;
  border-color: #999999;
  font-family: courier, monospace;
}

.bedrock-pod .error {
  color: red;
  font-family: fixed;
  font-weight: 800;
}

.bedrock-pod .code {
  font-family: courier, monospace;
  color: brown;
  font-weight: 600;
}

.bedrock-pod .codeframe {
  color: black;
  font-weight: 800;
  background: #eeeeee;
  overflow: scroll;
  font-style: fixed;
  font-size: 11px;
  padding: 5px;
  margin: 5px 5px 5px 0px;
}

#index li {
  margin: 0px;
  padding: 2px;
}

.bedrock-pod .bedrock-hash-value pre {
  padding: 3px 5px 3px 5px;
  background: antiquewhite;
}

.bedrock-hash td, th {
  padding: 0px;
}

.bedrock-hash th {
  background: white;
}

.bedrock-hash {
  display: grid;
  grid-template-columns: max-content 1fr;
  gap: 0.5em 1em;
}

.bedrock-hash-row {
  display: contents; /* allows individual items to align in the parent grid */
}

.bedrock-hash-key {
  font-weight: bold;
}

.bedrock-hash-key code {
  white-space: nowrap;
}

.bedrock-hash-value pre {
  margin: 0;
  white-space: pre-wrap;
}

.bedrock-head body, table, tr, th, td  {
  border: none;
  border-collapse: collapse;
}

.bedrock-pod li {
  margin: 0px;
  padding: 2px;
}

.bedrock-config {
 color: black;
 background: #dddddd;
 margin-top: 0;
}

.bedrock-config-var {
 color: green;
 font-weight: 600;
}

#top-button {
 display: none;
}

#back-button {
 display: none;
}

body {
  overflow: hidden;
}
