# 1. Server Control
# Settings strictly for the HTTP::Server::Simple::CGI wrapper
server:
  port: 80
  mount_point: /bedrock
  timeout: 30

# 2. Bootstrapping
# The Bedrock Service class to load and instantiate
service_class: Docs

# Environment variables to set immediately on startup (before loading the Service)
# Critical for bootstrapping Bedrock::Handler (e.g. locating tagx.xml)
env:
  BEDROCK_CONFIG_PATH: "@dist_dir@/config"
  GATEWAY_INTERFACE: CGI/1.1
  BEDROCK_CACHE_ENGINE: Shareable
# 3. Static Asset Mapping
# Direct filesystem maps for serving assets without hitting the Service
aliases:
  /bedrock/css: "@dist_dir@/css"
  /bedrock/js:  "@dist_dir@/javascript"
  /bedrock/img: "@dist_dir@/img"

# 4. Service Context (The Payload)
# This ENTIRE object is passed to the Service constructor as 'service_config'.
# The Service instance decides what to do with this data.
service_config:
  # Example: Feature flags specific to development
  maintenance_mode: false

  # Bedrock Configuration Overrides
  # The Service will look for this key and merge it into the Bedrock::Config object
  overrides:
    LOG4PERL: "@dist_dir@/log4perl.conf"
    BEDROCK_CONFIG_PATH: "@dist_dir@/config"
    BEDROCK_INCLUDE_DIR: "@dist_dir@/include"
    BEDROCK_PEBBLE_DIR: "@dist_dir@/include"
    BEDROCK_ERROR_LOCATION: "@dist_dir@/html/error.roc"
    ALLOW_BEDROCK_INFO: yes
    ALLOW_BEDROCK_CONFIG_INFO: yes
    ALLOW_BEDROCK_ENV_INFO: yes
