log_level: debug

server:
  port: 80
  timeout: 30

service:
  /bedrock: Docs

env:
  BEDROCK_CONFIG_PATH: "@dist_dir@/config"
  BEDROCK_CACHE_ENGINE: Shareable

overrides:
  LOG4PERL: "@dist_dir@/log4perl.conf"
  BEDROCK_CONFIG_PATH: "@dist_dir@/config"
  BEDROCK_INCLUDE_DIR: "@dist_dir@/include"
  BEDROCK_PEBBLE_DIR: "@dist_dir@/include"
  BEDROCK_ERROR_LOCATION: "@dist_dir@/html/fancy-error.roc"
  BEDROCK_SESSION_MANAGER: MemorySession
  ALLOW_BEDROCK_INFO: yes
  ALLOW_BEDROCK_CONFIG_INFO: yes
  ALLOW_BEDROCK_ENV_INFO: yes
  LOG4PERL: "@dist_dir@/config/log4perl.conf"
