body {
    max-width: 480px;
    margin: 2em auto;
    padding: 1em;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-family: sans-serif;
}

.form-control, .btn {
    margin-top: 10px;
}

.form-text {
    font-size: 0.85em;
}

.session p {
    font-style: italic;
}

.session span {
    font-weight: 600;
}

.session pre {
    font-size: 0.85em;
    border-width: 1px 2px 2px 1px;
    border-color: #ccc;
    border-radius: 8px;
    display: block;
    border-style: solid;
    background: antiquewhite;
    padding: 15px;
} 
